
.probootstrap-blog-list li a .probootstrap-text h4:hover {
	color: cornflowerblue ;
}

.a i:hover {
color: cornflowerblue ;
}

.icon-twitter {
	color: cornflowerblue ;
}

.icon-facebook  {
	color: cornflowerblue ;

}

.icon-instagram2 {
	color: cornflowerblue ;
}

.icon-check:before {
	color: cornflowerblue ;
}

.link-with-icon:focus, .link-with-icon{
	color: cornflowerblue ;

}
.icon-heart2:before{
	color: cornflowerblue ;	
}
.probootstrap-section .heading-with-icon {
	color: cornflowerblue ;	
}
.icon-rocket:before {
	color: cornflowerblue ;
}
.icon-image:before {
	color: cornflowerblue ;
}
.icon-briefcase:before {
	color: cornflowerblue ;
}
.icon-chat:before{
	color: cornflowerblue ;
} 
.icon-colours:before {
	color: cornflowerblue ;
}
a{
	color: cornflowerblue ;
}	
